example/sense_hat_example_remote.json
[{"id":"244f0e3c.183f22","type":"mqtt in","z":"d4f87ce5.1ac9f","name":"","topic":"noderedcep/temperature","qos":"2","broker":"952d13c4.522ea","x":212.10000610351562,"y":127.80000305175781,"wires":[["2016802d.9aa9a"]]},{"id":"2016802d.9aa9a","type":"ui_gauge","z":"d4f87ce5.1ac9f","name":"","group":"21e612aa.ddc91e","order":1,"width":0,"height":0,"gtype":"wave","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":467.00001525878906,"y":128.00000381469727,"wires":[]},{"id":"b2f78e91.6127d","type":"ui_gauge","z":"d4f87ce5.1ac9f","name":"","group":"49fedbdc.8f5c24","order":1,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":457.00006103515625,"y":192.0000171661377,"wires":[]},{"id":"5e624231.d439bc","type":"mqtt in","z":"d4f87ce5.1ac9f","name":"","topic":"noderedcep/humidity","qos":"2","broker":"952d13c4.522ea","x":191.10002899169922,"y":192.80005398392677,"wires":[["b2f78e91.6127d"]]},{"id":"5753593a.985e68","type":"mqtt in","z":"d4f87ce5.1ac9f","name":"","topic":"noderedcep/temperaturedeviation","qos":"2","broker":"952d13c4.522ea","x":223.10000610351562,"y":266.8000316619873,"wires":[["d6783cbd.6842e"]]},{"id":"d6783cbd.6842e","type":"ui_chart","z":"d4f87ce5.1ac9f","name":"Temperature Deviation","group":"12813289.7771bd","order":1,"width":0,"height":0,"label":"Temperature Deviation Chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"0","ymax":"3","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"colors":["#ff0000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":499.00001525878906,"y":266.00003242492676,"wires":[[],[]]},{"id":"de5e998e.b95338","type":"mqtt in","z":"d4f87ce5.1ac9f","name":"","topic":"noderedcep/humiditydeviation","qos":"2","broker":"952d13c4.522ea","x":216.10000610351562,"y":343.8000183105469,"wires":[["60539582.a4835c"]]},{"id":"60539582.a4835c","type":"ui_chart","z":"d4f87ce5.1ac9f","name":"Humidity Deviation","group":"f318930.a81ac7","order":1,"width":0,"height":0,"label":"Humidity Deviation Chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"0","ymax":"10","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"colors":["#0080ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":482,"y":334,"wires":[[],[]]},{"id":"153e48d0.747a77","type":"ui_audio","z":"d4f87ce5.1ac9f","name":"Alert","group":"80cd7ddd.fdac8","voice":"3","always":"","x":676.1001167297363,"y":539.2000160217285,"wires":[]},{"id":"a816e18c.fb28f","type":"change","z":"d4f87ce5.1ac9f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Your temperature sensor has oscillated beyond the tolerance!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":462.10001373291016,"y":474.40001583099365,"wires":[["153e48d0.747a77","4b3b5d35.dee614"]]},{"id":"f1ea816d.8a8ae","type":"ui_toast","z":"d4f87ce5.1ac9f","position":"top right","displayTime":"10","highlight":"#f1c40f","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Yellow Alert Notification","x":693.1001663208008,"y":432.20001220703125,"wires":[]},{"id":"191816c.42309e9","type":"mqtt in","z":"d4f87ce5.1ac9f","name":"","topic":"noderedcep/yellowalert","qos":"2","broker":"952d13c4.522ea","x":204.10000610351562,"y":445.800012588501,"wires":[["a816e18c.fb28f","779ac06.7eaf34"]]},{"id":"779ac06.7eaf34","type":"change","z":"d4f87ce5.1ac9f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ATTENTION!","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"YELLOW ALERT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":455.10001373291016,"y":416.400013923645,"wires":[["f1ea816d.8a8ae"]]},{"id":"4b3b5d35.dee614","type":"ui_audio","z":"d4f87ce5.1ac9f","name":"Alert","group":"adc3f714.716df8","voice":"3","always":"","x":682.0000190734863,"y":488.00001525878906,"wires":[]},{"id":"f59f30ba.87574","type":"change","z":"d4f87ce5.1ac9f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Your temperature sensors have oscillated beyond the tolerance! ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":463.00001525878906,"y":549.2000169754028,"wires":[["153e48d0.747a77","4b3b5d35.dee614"]]},{"id":"cc7796b9.4eaca8","type":"ui_toast","z":"d4f87ce5.1ac9f","position":"top right","displayTime":"10","highlight":"#e74c3c","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Red Alert Notification","x":678.0002136230469,"y":596.0000190734863,"wires":[]},{"id":"9c856cb9.2d1ac","type":"mqtt in","z":"d4f87ce5.1ac9f","name":"","topic":"noderedcep/redalert","qos":"2","broker":"952d13c4.522ea","x":203,"y":603.6000003814697,"wires":[["f59f30ba.87574","dab86c6b.01eb7"]]},{"id":"dab86c6b.01eb7","type":"change","z":"d4f87ce5.1ac9f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ATTENTION!","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"RED ALERT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":456.00000762939453,"y":629.2000026702881,"wires":[["cc7796b9.4eaca8"]]},{"id":"952d13c4.522ea","type":"mqtt-broker","z":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"21e612aa.ddc91e","type":"ui_group","z":"","name":"Temperature","tab":"d3203a10.991a08","order":1,"disp":false,"width":"12"},{"id":"49fedbdc.8f5c24","type":"ui_group","z":"","name":"Humidity","tab":"d3203a10.991a08","order":2,"disp":false,"width":"12"},{"id":"12813289.7771bd","type":"ui_group","z":"","name":"Temperature Deviation","tab":"c4bf5f24.150d5","disp":true,"width":"12"},{"id":"f318930.a81ac7","type":"ui_group","z":"","name":"Humidity Deviation","tab":"c4bf5f24.150d5","order":2,"disp":true,"width":"12"},{"id":"80cd7ddd.fdac8","type":"ui_group","z":"","name":"","tab":"d3203a10.991a08","disp":true,"width":"6"},{"id":"adc3f714.716df8","type":"ui_group","z":"","name":"","tab":"c4bf5f24.150d5","disp":true,"width":"6"},{"id":"d3203a10.991a08","type":"ui_tab","z":"","name":"Readings","icon":"dashboard"},{"id":"c4bf5f24.150d5","type":"ui_tab","z":"","name":"Aggregations","icon":"fa-line-chart"}]