example/sense_hat_example_raspberry.json
[{"id":"61777960.2b9138","type":"rpi-sensehatsim in","z":"7493b2c3.4ac50c","name":"","motion":false,"env":true,"stick":true,"x":125.10001754760742,"y":87.20002841949463,"wires":[["859cfb30.5f3ef8"]]},{"id":"12154733.b85419","type":"rpi-sensehatsim out","z":"7493b2c3.4ac50c","name":"","x":1225.100154876709,"y":298.4000458717346,"wires":[]},{"id":"ca01bd6.cb7db4","type":"function","z":"7493b2c3.4ac50c","name":"blinkYellow","func":"var yellowMatrix = \n`2-5,0,#FFFF00,\n1,1,#FFFF00,6,1,#FFFF00,\n0,2,#FFFF00,3,2,#FFFF00, 4,2,#FFFF00, 7,2,#FFFF00,\n0,3,#FFFF00,2,3,#FFFF00, 5,3,#FFFF00, 7,3,#FFFF00,\n0,4,#FFFF00,2-5,4,#FFFF00,7,4,#FFFF00,\n0,5,#FFFF00,2,5,#FFFF00,5,5,#FFFF00, 7,5,#FFFF00,\n1,6,#FFFF00,6,6,#FFFF00,\n2-5,7,#FFFF00`.replace(/\\s/g, \"\");\n\nvar blackMatrix = \"*,*,#000\";\n\n\nif(msg.payload == 1){\n  msg.payload = yellowMatrix;\n  console.log(msg.payload);\n}else{\n msg.payload = blackMatrix;\n console.log(msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1039.1000862121582,"y":323.4000577926636,"wires":[["12154733.b85419"]]},{"id":"8c527922.399e18","type":"trigger","z":"7493b2c3.4ac50c","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","name":"","x":863.1001205444336,"y":391.4000358581543,"wires":[["ca01bd6.cb7db4","e1c444f0.e3c5e8"]]},{"id":"4b6de865.50bf78","type":"trigger","z":"7493b2c3.4ac50c","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","name":"","x":840.6001853942871,"y":224.0000114440918,"wires":[["eec5c8dc.835a68","1eca33f7.0bae5c"]]},{"id":"eec5c8dc.835a68","type":"function","z":"7493b2c3.4ac50c","name":"blinkRed","func":"var redMatrix = `2-5,0,#FF0000,\n1,1,#FF0000,6,1,#FF0000,\n0,2,#FF0000,3,2,#FF0000, 4,2,#FF0000, 7,2,#FF0000,\n0,3,#FF0000,2,3,#FF0000, 5,3,#FF0000, 7,3,#FF0000,\n0,4,#FF0000,2-5,4,#FF0000,7,4,#FF0000,\n0,5,#FF0000,2,5,#FF0000,5,5,#FF0000, 7,5,#FF0000,\n1,6,#FF0000,6,6,#FF0000,\n2-5,7,#FF0000`.replace(/\\s/g, \"\");\n\nvar blackMatrix = \"*,*,#000\";\n\n\nif(msg.payload == 1){\n  msg.payload = redMatrix;\n}else{\n msg.payload = blackMatrix;   \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1029.6001281738281,"y":278.00003147125244,"wires":[["12154733.b85419"]]},{"id":"a470c9f5.9d9e48","type":"inject","z":"7493b2c3.4ac50c","name":"","topic":"","payload":"yellow","payloadType":"str","repeat":"","crontab":"","once":false,"x":802.7000350952148,"y":327.8001070022583,"wires":[["8c527922.399e18"]]},{"id":"4124ea8d.5a4e64","type":"delay","z":"7493b2c3.4ac50c","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900.7002754211426,"y":499.400013923645,"wires":[["7dd65732.f0af68"]]},{"id":"e1c444f0.e3c5e8","type":"switch","z":"7493b2c3.4ac50c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":892.7000770568848,"y":442.4000368118286,"wires":[["4124ea8d.5a4e64"]]},{"id":"42c7f5c3.a4fe4c","type":"inject","z":"7493b2c3.4ac50c","name":"","topic":"","payload":"red","payloadType":"str","repeat":"","crontab":"","once":false,"x":793.0000839233398,"y":288.00003242492676,"wires":[["4b6de865.50bf78"]]},{"id":"1eca33f7.0bae5c","type":"switch","z":"7493b2c3.4ac50c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":836.8000411987305,"y":162.00002574920654,"wires":[["56b7b9f0.2415c8"]]},{"id":"56b7b9f0.2415c8","type":"delay","z":"7493b2c3.4ac50c","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":852.8000373840332,"y":113.00001239776611,"wires":[["c566defa.3d6ce"]]},{"id":"859cfb30.5f3ef8","type":"split","z":"7493b2c3.4ac50c","name":"","splt":"\\n","x":98.10002899169922,"y":167.4000301361084,"wires":[["5eb6d7cd.437028"]]},{"id":"5eb6d7cd.437028","type":"switch","z":"7493b2c3.4ac50c","name":"","property":"parts.key","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"humidity","vt":"str"}],"checkall":"true","outputs":2,"x":94.10003280639648,"y":240.40005683898926,"wires":[["ddfa124f.bf6f8","ee763cd4.7746"],["cba174b3.3233a8","812734d7.675888"]]},{"id":"cba174b3.3233a8","type":"function","z":"7493b2c3.4ac50c","name":"BuildHumidityEvent","func":"var humidity = msg.payload;\n\nmsg = {};\nmsg.payload = {\n    eventName: \"HumidityReading\",\n    id: 1,\n    humidity: humidity\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":133.10004425048828,"y":363.40003204345703,"wires":[["bbaf7f4f.175f9"]]},{"id":"ddfa124f.bf6f8","type":"function","z":"7493b2c3.4ac50c","name":"BuildTemperatureEvent","func":"var temperature = msg.payload;\n\nmsg = {};\nmsg.payload = {\n    eventName: \"TemperatureReading\",\n    id: 1,\n    temperature: temperature\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":191.00011825561523,"y":313.00003147125244,"wires":[["85fbaed7.b7a74"]]},{"id":"85fbaed7.b7a74","type":"cepAggr","z":"7493b2c3.4ac50c","filters":[],"property":"payload","eventName":"TemperatureReading","windowType":"timer","windowParam":"60000","avg":false,"avgField":"","avgAlias":"","count":false,"countAlias":"","max":false,"maxField":"","maxAlias":"","median":false,"medianField":"","medianAlias":"","min":false,"minField":"","minAlias":"","stdev":true,"stdevField":"TemperatureReading.temperature","stdevAlias":"temperatureDev","sum":false,"sumField":"","sumAlias":"","variance":false,"varianceField":"","varianceAlias":"","newEvent":"TemperatureDeviation","fields":"TemperatureReading.id","groupby":"TemperatureReading.id","having":"","x":298.1001319885254,"y":248.40005588531494,"wires":[["615aafd9.dd822","31d659c5.cc8416","8941fc7e.b70b5"]]},{"id":"615aafd9.dd822","type":"cepPattern","z":"7493b2c3.4ac50c","filters":[{"filterEvent":"Event#1","filterParameter":"TemperatureDeviation.temperatureDev > 0.1"},{"filterEvent":"Event#2","filterParameter":"HumidityDeviation.humidityDev > 2"}],"property":"event","eventName1":"TemperatureDeviation","eventName2":"HumidityDeviation","windowType":"timer","windowParam":"5000","pattern":"TemperatureDeviation OR HumidityDeviation","joinClause":"TemperatureDeviation.id == HumidityDeviation.id","newEvent":"TemperatureHumidityOcilation","fields":"TemperatureDeviation.id AS temperatureId, HumidityDeviation.id AS humidityId","x":413.10011291503906,"y":344.40003490448,"wires":[["7526fdcb.cbafd4","3b241a94.c4a646"]]},{"id":"bbaf7f4f.175f9","type":"cepAggr","z":"7493b2c3.4ac50c","filters":[],"property":"payload","eventName":"HumidityReading","windowType":"timer","windowParam":"60000","avg":false,"avgField":"","avgAlias":"","count":false,"countAlias":"","max":false,"maxField":"","maxAlias":"","median":false,"medianField":"","medianAlias":"","min":false,"minField":"","minAlias":"","stdev":true,"stdevField":"HumidityReading.humidity","stdevAlias":"humidityDev","sum":false,"sumField":"","sumAlias":"","variance":false,"varianceField":"","varianceAlias":"","newEvent":"HumidityDeviation","fields":"HumidityReading.id","groupby":"HumidityReading.id","having":"","x":303.0000591278076,"y":419.00006198883057,"wires":[["615aafd9.dd822","c3617fec.19ccc","248f67d0.d36868"]]},{"id":"4a7846be.369ae8","type":"change","z":"7493b2c3.4ac50c","name":"SetRedAlert","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":593.1001777648926,"y":239.60010528564453,"wires":[["4b6de865.50bf78","edeebbda.5055f8"]]},{"id":"31d659c5.cc8416","type":"debug","z":"7493b2c3.4ac50c","name":"","active":true,"console":"false","complete":"event","x":441.10015869140625,"y":193.60005378723145,"wires":[]},{"id":"c3617fec.19ccc","type":"debug","z":"7493b2c3.4ac50c","name":"","active":true,"console":"false","complete":"event","x":573.1001777648926,"y":488.60006403923035,"wires":[]},{"id":"7526fdcb.cbafd4","type":"debug","z":"7493b2c3.4ac50c","name":"","active":true,"console":"false","complete":"event","x":573.0000762939453,"y":442.0000629425049,"wires":[]},{"id":"3b241a94.c4a646","type":"function","z":"7493b2c3.4ac50c","name":"RouteAlert","func":"if(msg.event.temperatureId && msg.event.humidityId)\n    return [msg, null];\nelse\n    return [null, msg];","outputs":"2","noerr":0,"x":588.1001262664795,"y":304.80005836486816,"wires":[["4a7846be.369ae8"],["76d4a7c6.a51ba8"]]},{"id":"76d4a7c6.a51ba8","type":"change","z":"7493b2c3.4ac50c","name":"SetYellowAlert","rules":[{"t":"set","p":"payload","pt":"msg","to":"yellow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":598.000129699707,"y":379.00006103515625,"wires":[["8c527922.399e18","f8bdd795.6e08b8"]]},{"id":"8941fc7e.b70b5","type":"change","z":"7493b2c3.4ac50c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"event.temperatureDev","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":312.1001091003418,"y":138.40002727508545,"wires":[["c88ca5ff.0d2ae8"]]},{"id":"ee763cd4.7746","type":"mqtt out","z":"7493b2c3.4ac50c","name":"","topic":"noderedcep/temperature","qos":"","retain":"","broker":"952d13c4.522ea","x":139.10004425048828,"y":471.6000623703003,"wires":[]},{"id":"812734d7.675888","type":"mqtt out","z":"7493b2c3.4ac50c","name":"","topic":"noderedcep/humidity","qos":"","retain":"","broker":"952d13c4.522ea","x":134.10004425048828,"y":521.6000633239746,"wires":[]},{"id":"c88ca5ff.0d2ae8","type":"mqtt out","z":"7493b2c3.4ac50c","name":"","topic":"noderedcep/temperaturedeviation","qos":"","retain":"","broker":"952d13c4.522ea","x":432.10015869140625,"y":69.00000429153442,"wires":[]},{"id":"248f67d0.d36868","type":"change","z":"7493b2c3.4ac50c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"event.humidityDev","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":376.00006103515625,"y":515.0000152587891,"wires":[["e1194b70.ea3ea8"]]},{"id":"e1194b70.ea3ea8","type":"mqtt out","z":"7493b2c3.4ac50c","name":"","topic":"noderedcep/humiditydeviation","qos":"","retain":"","broker":"952d13c4.522ea","x":417.10011291503906,"y":575.6001148223877,"wires":[]},{"id":"f8bdd795.6e08b8","type":"mqtt out","z":"7493b2c3.4ac50c","name":"","topic":"noderedcep/yellowalert","qos":"","retain":"","broker":"952d13c4.522ea","x":686.1000366210938,"y":550.6000661849976,"wires":[]},{"id":"edeebbda.5055f8","type":"mqtt out","z":"7493b2c3.4ac50c","name":"","topic":"noderedcep/redalert","qos":"","retain":"","broker":"952d13c4.522ea","x":639.000114440918,"y":140.00001621246338,"wires":[]},{"id":"7dd65732.f0af68","type":"repeat","z":"7493b2c3.4ac50c","name":"","repetitions":"2","elseOutput":false,"outputs":1,"x":907.500186920166,"y":546.6000661849976,"wires":[["8c527922.399e18"]]},{"id":"c566defa.3d6ce","type":"repeat","z":"7493b2c3.4ac50c","name":"","repetitions":"2","elseOutput":false,"outputs":1,"x":847.5001220703125,"y":64.60007572174072,"wires":[["4b6de865.50bf78"]]},{"id":"952d13c4.522ea","type":"mqtt-broker","z":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]